---
apiVersion: operator.tigera.io/v1
kind: Installation
metadata:
  name: default
spec:
  registry: quay.io
  imagePath: calico
  calicoNetwork:
    # Note: The ipPools section cannot be modified post-install.
    ipPools:
    - blockSize: 26
      cidr: "{{ k3s_server['cluster-cidr'] }}"
      encapsulation: "{{ calico_encapsulation }}"
      natOutgoing: Enabled
      nodeSelector: all()
    nodeAddressAutodetectionV4:
      cidrs:
      - "{{ calico_node_cidr }}"
  nodeMetricsPort: 9091
  typhaMetricsPort: 9093