---
apiVersion: crd.projectcalico.org/v1
kind: BGPConfiguration
metadata:
  name: default
spec:
  serviceClusterIPs:
  - cidr: "{{ k3s_server['service-cidr'] }}"
  serviceExternalIPs:
  - cidr: "{{ calico_bgp_external_ips }}"